HOST=0.0.0.0
PORT=1337
APP_KEYS=un_secret_aleatoire_au_choix,un_autre_secret_aleatoire
API_TOKEN_SALT=un_autre_secret_pour_les_tokens
ADMIN_JWT_SECRET=met_ici_une_cle_secrete_au_choix
TRANSFER_TOKEN_SALT=une_autre_cle_de_transfert
JWT_SECRET=une_cle_secrete_pour_les_utilisateurs